html, body, #root, .App {
  height: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  background: linear-gradient(45deg, black, rgba(93, 93, 93, 1));

}

.button {
  background: linear-gradient(270deg, #EE5C00, #EEB800);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(90deg, #00F0FF, #7000FF);
}

.bg1 {
  background: linear-gradient(90deg, #EEB800, #EE5C00);
}

.bg2 {
  background: linear-gradient(45deg, black, rgba(93, 93, 93, 1));
}

.bg3 {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bg3:hover {
  background-color: white;
  color: black;
}

.bg4 {
  background-color: '#4A4A4A';
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 1px 1px 1px black;
}

.bg5 {
  background: linear-gradient(#111111, transparent, transparent);
}

.bg6 {
  background: linear-gradient(45deg, black, #222222, rgba(93, 93, 93, 1));
}

.img-blur {
  filter: blur(1px);
}
